@page "/ViewItem/{itemId:int?}"
@using HttpClients.ClientInterfaces
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Components.Authorization
@using Domain.Models
@using Domain.DTOs
@using System.Security.Claims
@inject IItemService ItemService
@inject IImageService ImageService
@inject IConversationService ConversationService
@inject IUserService UserService
@inject NavigationManager navMgr

@if (item is null)
{
    <h5 style="color: white">Loading...</h5>
}
else
{
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <div class="container">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-7">
                                <SfCarousel>
                                    @foreach (var image in images)
                                    {
                                        <CarouselItem>

                                            <figure class="img-container">
                                                <img class="img-fluid d-flex justify-content-center" src="data:@image.contentType;base64,@image.base64data" alt="image of the item" style="height:100%;width:100%;">
                                            </figure>

                                        </CarouselItem>
                                    }
                                </SfCarousel>
                            </div>
                            <div class="col-lg-4 border-start">
                                <div class="ms-2 mt-2">
                                    <p>
                                        <b>@item.Name </b>
                                    </p>
                                    <p>
                                        <span class="oi oi-person" aria-hidden="true">&nbsp &nbsp</span><b>@itemOwner.firstName @itemOwner.lastName, says:</b> @item.Description
                                    </p>
                                    <h1 class="border-2 bg-success text-white">Price: @item.Pricing @item.Currency</h1>
                                    <h4 class="border-2">Phone number: @itemOwner.phoneNumber</h4>
                                                                        @if (!item.IsSold)
                                                                        {
                                                                            <h4 class="border-2 bg-success text-white">Status: Available</h4>
                                                                        }
                                                                        else
                                                                        {
                                                                            <h4 class="border-2 bg-danger text-white">Status: Sold</h4>
                                                                        }
                                </div>
                                <button class="ms-2 mt-2 btn btn-outline-dark" @onclick="startConvo">Message the seller!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="container">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-7">
                                <SfCarousel>
                                    @foreach (var image in images)
                                    {
                                        <CarouselItem>

                                            <figure class="img-container">
                                                <img class="img-fluid d-flex justify-content-center" src="data:@image.contentType;base64,@image.base64data" alt="image of the item" style="height:100%;width:100%;">
                                            </figure>

                                        </CarouselItem>
                                    }
                                </SfCarousel>
                            </div>
                            <div class="col-lg-4 border-start">
                                <div class="ms-2 mt-2">
                                    <p>
                                        <b>@item.Name </b>
                                    </p>
                                    <p>
                                        <span class="oi oi-person" aria-hidden="true">&nbsp &nbsp</span><b>@itemOwner.firstName @itemOwner.lastName, says:</b> @item.Description
                                    </p>
                                    <h1 class="border-2 bg-success text-white">Price: @item.Pricing @item.Currency</h1>
                                    <h4 class="border-2">Phone number: @itemOwner.phoneNumber</h4>
                                    @if (!item.IsSold)
                                    {
                                        <h4 class="border-2 bg-success text-white">Status: Available</h4>
                                    }
                                    else
                                    {
                                        <h4 class="border-2 bg-danger text-white">Status: Sold</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
}

@code {

    [Parameter]
    public int itemId { get; set; }

    private string? name;

    public Item item;
    public User itemOwner;
    public List<Image> images;

    public int userId;

    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        item = await ItemService.GetItemById(itemId);
        images = await ImageService.GetImagesByItemId(itemId);
        itemOwner = await UserService.GetUserById(item.OwnerId);
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal userClaim = authState.User;
        try
        {
            name = userClaim.Identity.Name;
            IEnumerable<User> users = await UserService.GetUsers(name.Split(' ')[0], name.Split(' ')[1]);
            if (users is null && users.Count() != 1)
                throw new Exception();
            List<User> user = new List<User>(users);
            userId = user[0].Id;
        }
        catch (Exception e)
        {

        }
    }

    public async Task startConvo()
    {
        ConversationCreationDto dto = new ConversationCreationDto(userId, itemOwner.Id, itemId);
        Conversation service = await ConversationService.Create(dto);

        navMgr.NavigateTo("/messages");
    }

}

}